
.menua{
background-color: rgb(20, 42, 116);
font-size: 2rem;
display: flex;
padding: 0%;
gap: 20px;
height: 100px;
width: auto;
text-align: center;
align-items: center;
}
.menua h1{
margin-bottom: 25px;
height: 50px;
font-size: 50px;
color: white;
}
.menua a{
    text-align: center;
    text-decoration: none;
padding: 50px;
cursor: pointer;
color: white;


}
.menua a:hover{
    background-color: black;
    transform: transition 0.3 ease;
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined:hover{
    cursor: pointer;
    transform: transition 0.3 ease;
    background-color:grey;
    border-radius: 10px;
}

.filmak{
    

}
.filmak img{
    border-radius: 20px;
    display: flex;
    height: 400px;
    width: 300px;
    
}
.footer{
background-color: rgb(20, 42, 116);
font-size: 2rem;
display: flex;
padding: 0%;
gap: 20px;
height: 100px;
width: auto;
text-align: center;
align-items: center;
}
.footer h1{
margin-bottom: 25px;
height: 50px;
font-size: 50px;
color: white;
}
.footer a{
    text-align: center;
    text-decoration: none;
padding: 50px;
cursor: pointer;
color: white;


}
.footer a:hover{
    background-color: black;
    transform: transition 0.3 ease;
    
}